// Body, Typography, Resets

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: var(--color-primary);
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
}

li {
  list-style: none;
}
