// Buttons, cards, forms, etc...

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;

  // Desktop
  @media (max-width: 1280px) {
    max-width: 1200px;
  }

  // Small desktop / large tablet
  @media (max-width: 1024px) {
    max-width: 960px;
  }

  // Tablet
  @media (max-width: 768px) {
    max-width: 720px;
  }

  // Phone
  @media (max-width: 480px) {
    max-width: 100%;
  }
}

.btn {
  background: var(--color-bg-400);
  color: var(--color-primary);
  font-family: inherit;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.form-bg {
  background-color: var(--color-bg-300);
  color: var(--color-primary);
  font-size: 1.125rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
