// Root variables

:root {
  --color-primary: #ffffff;
  --color-secondary: #a0a1ab;
  --color-bg: #01012a;
  --color-bg-100: #242540;
  --color-bg-200: #2f2f48;
  --color-bg-300: #3c3c59;
  --color-bg-400: #4857d7;
  --color-bg-500: #2e22a3;

  --bg-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --bg-border: 4px solid rgba(255, 255, 255, 0.4);
}
