// Root variables

:root {
  --color-primary: #ffffff;
  --color-secondary: #c4c4c4;
  --color-dash: #7f7f7f;
  --color-bg: rgba(255, 255, 255, 0.1);
  --bg-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --bg-border: 4px solid rgba(255, 255, 255, 0.4);
}
